<h1>UpDate Post</h1>

<form action="/post/{{post._id}}?_method=PUT" method="POST" class="panel__form">
    <div class="form__ground">
        <label for="title">Title</label>
        <textarea name="title"  id="title"  rows="10">{{post.title}}</textarea>
    </div>
    <div class="form__ground">
        <label for="description">Description</label>
        <textarea name="description"  id="description"  rows="10">{{post.description}}</textarea>
    </div>
    <div class="form__ground">
        <label for="detail">Detail</label>
        <textarea name="detail" id="detail"  rows="10">{{post.detail}}</textarea>
    </div>

    <div class="form__ground">
        <label for="src">src</label>
        <textarea name="src" id="src"  rows="1">{{post.src}}</textarea>
    </div>
    <div class="form__ground">
        <label for="category"> Category </label>
        <textarea name="category" id="category"  rows="1">{{post.category}}</textarea>
    </div>
    
    <button type="submit">Update</button>
</form>