<section class="homepage">
    
    <h1 class="home__h1">Tất tần tật về NodeJs</h1>
        
 {{#each posts}}   
        <article class="home__article">
            <h1 class="home__heading">
                <a href="#">Nghề IT, lập trình viên thời Covid-19 liệu có lo thất nghiệp?</a>
            </h1>
            <div class="home__content">
                <a href="#" class="home__link" ><img class="home__img" src="/img/cach-lam-youtube-vlog.jpg" alt=""></a>
                <p class="home__depcs">
                    <a href="#">Nhiều nhà lãnh đạo công nghệ dự đoán các lĩnh vực như IT, lập trình viên và kỹ sư phần mềm vẫn sẽ ổn định, thậm chí có thể tăng trưởng, hứa hẹn mang đến cho sinh viên ngành công nghệ cơ hội việc làm cao hơn</a>
                </p>
            </div>
        </article>
        <article class="home__article">
            <h1 class="home__heading">
                <a href="#">Nghề IT, lập trình viên thời Covid-19 liệu có lo thất nghiệp?</a>
            </h1>
            <div class="home__content">
                <a href="#" > <img class="home__img" src="/img/focus.png" alt=""></a>
                <p class="home__depcs">
                    <a href="#">Nhiều nhà lãnh đạo công nghệ dự đoán các lĩnh vực như IT, lập trình viên và kỹ sư phần mềm vẫn sẽ ổn định, thậm chí có thể tăng trưởng, hứa hẹn mang đến cho sinh viên ngành công nghệ cơ hội việc làm cao hơn</a>
                </p>
            </div>
        </article>
        <article class="home__article">
            <h1 class="home__heading">
                <a href="#">Nghề IT, lập trình viên thời Covid-19 liệu có lo thất nghiệp?</a>
            </h1>
            <div class="home__content">
                <a href="#" > <img class="home__img" src="/img/hacker.png" alt=""></a>
                <p class="home__depcs">
                    <a href="#">Nhiều nhà lãnh đạo công nghệ dự đoán các lĩnh vực như IT, lập trình viên và kỹ sư phần mềm vẫn sẽ ổn định, thậm chí có thể tăng trưởng, hứa hẹn mang đến cho sinh viên ngành công nghệ cơ hội việc làm cao hơn</a>
                </p>
            </div>
        </article>
        <article class="home__article">
            <h1 class="home__heading">
                <a href="#">Nghề IT, lập trình viên thời Covid-19 liệu có lo thất nghiệp?</a>
            </h1>
            <div class="home__content">
                <a href="#" > <img class="home__img" src="/img/html.png" alt=""></a>
                <p class="home__depcs">
                    <a href="#">Nhiều nhà lãnh đạo công nghệ dự đoán các lĩnh vực như IT, lập trình viên và kỹ sư phần mềm vẫn sẽ ổn định, thậm chí có thể tăng trưởng, hứa hẹn mang đến cho sinh viên ngành công nghệ cơ hội việc làm cao hơn</a>
                </p>
            </div>
        </article>
        <article class="home__article">
            <h1 class="home__heading">
                <a href="#">Nghề IT, lập trình viên thời Covid-19 liệu có lo thất nghiệp?</a>
            </h1>
            <div class="home__content">
                <a href="#" > <img class="home__img" src="/img/in3d.png" alt=""></a>
                <p class="home__depcs">
                    <a href="#">Nhiều nhà lãnh đạo công nghệ dự đoán các lĩnh vực như IT, lập trình viên và kỹ sư phần mềm vẫn sẽ ổn định, thậm chí có thể tăng trưởng, hứa hẹn mang đến cho sinh viên ngành công nghệ cơ hội việc làm cao hơn</a>
                </p>
            </div>
        </article>
        <article class="home__article">
            <h1 class="home__heading">
                <a href="#">Nghề IT, lập trình viên thời Covid-19 liệu có lo thất nghiệp?</a>
            </h1>
            <div class="home__content">
                <a href="#" > <img class="home__img" src="/img/may-tinh.png" alt=""></a>
                <p class="home__depcs">
                    <a href="#">Nhiều nhà lãnh đạo công nghệ dự đoán các lĩnh vực như IT, lập trình viên và kỹ sư phần mềm vẫn sẽ ổn định, thậm chí có thể tăng trưởng, hứa hẹn mang đến cho sinh viên ngành công nghệ cơ hội việc làm cao hơn</a>
                </p>
            </div>
        </article>

        <article class="home__article">
            <h1 class="home__heading">
                <a href="/node/{{this.slug}}">{{this.title}}</a>
            </h1>
            <div class="home__content">
                <a href="/node/{{this.slug}}" > <img class="home__img" src="/img/may-tinh.png" alt=""></a>
                <p class="home__depcs">
                    <a href="/node/{{this.slug}}">{{this.description}}</a>
                </p>
            </div>
        </article>

    {{/each}}
</section>