{{#each posts}}

    <a href="/node/update/{{this._id}}">Edit</a>
    <a href="/node/delete/{{this._id}}">Delete</a>
    <h1>{{this.title}}</h1> 
    <h5>{{this.description}}</h5>
    <p>{{this.detail}}</p>


{{/each}}

