<!DOCTYPE html>
<html lang="vn">
<head>
    <title>{{title}}</title>
    <link rel="shortcut icon"  href="/img/favicon.png">
    <link rel="icon" type="image/gif" href="/img/favicon.png">
    <meta content="text/html ; charset=UTF-8" http-equiv="Content-Type">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{mieuta}}">
    {{!--front and icon  --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;900&display=swap" rel="stylesheet">      
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <meta property="og:description" content="{{mieuta}}">
    <meta property="og:type" content="Article">
    <meta property="og:title" content="{{title}}">
    
    
    <link rel="stylesheet"  href="/css/main.css" > 
    <link rel="stylesheet"  href="/css/{{ style }}" > 
    
    
</head>
<body>
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="/" class="nav__logo">XYZABC</a>
            </div>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/node" class="nav__link " title="Nodejs">Nodejs</a></li>
                    <li class="nav__item"><a href="/javascript" class="nav__link" title="Javascript">Javascript</a></li>
                    <li class="nav__item"><a href="/css3" class="nav__link" title="Css">CSS</a></li>
                    <li class="nav__item"><a href="/html" class="nav__link" title="Html">HTML</a></li>
                    <li class="nav__item"><a href="/ben-le" class="nav__link" title="Bên lề">Bên Lề</a></li>
                </ul>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header> 
    
    <main>
        <section class="bd-grid">
             {{{body}}}
        </section>
        
    </main>
    {{> footer }}
    <script src="/js/main.js"></script>
</body>
</html>